.headerBox {
	// width: 100%;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;
	// margin: 0 auto;
	// position: relative;
	// margin-top: -8rem;
	img {
		margin-top: -8rem;
	}
}

#about {
	display: block;
}

.aboutBox {
	background-color: white;
	width: 36rem;
	position: absolute;
	top: 70rem;
	left: 11rem;
}

.aboutBox:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid $darkGrey;
	position: absolute;
	left: 1.6rem;
	top: -2rem;
}

.aboutContentBox {
	padding: 3rem 3rem 5rem 6rem;
	h3.myName {
		font-family: $headlineFont;
		font-size: 2.4rem;
		padding: 0;
		margin-bottom: 2rem;
	}
	p {
		font-family: $bodyFont;
		font-size: 1.6rem;
	}
}


.serviceSectionTitle {
	margin-bottom: 6rem;
	font-family: $headlineFont;
	font-size: 2.4rem;
}

.allServicesBox {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
}

.serviceListBox {
	width: 20%;
	max-width: 12rem;
}
.individualService {
	h4.serviceTitle {
		text-align: center;
		font-family: $bodyFont;
		font-size: 1.4rem;
	}

}

.serviceIconBox {
	margin: 0 auto;
	width: 100%;
	position: relative;
	z-index: 1;
	&::before {
		content:" ";
		display: inline-block;
		width: 100%;
		height: 100%;
		background: linear-gradient($lightPink, $cream) ;
		border-radius: 50%;
		position: absolute;
		left: 0.6rem;
		z-index: -1;
	}
	&::after {
		content:" ";
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient($cream, $lightPink) ;
		border-radius: 50%;
		position: absolute;
		left: 0.6rem;
		z-index: -1;
		top: 0;
		opacity: 0;
		transition: all 1.0s;
	}
}
.serviceIconBox:hover {
	cursor: pointer;
	&::after {
		opacity: 1;
	}
}

.servicesModal {
	width: 24rem;
	position: absolute;
	top: -4rem;
	padding: 2.2rem;
	background-color: white;
	clear: both;
	z-index: 5;
	display: none;
	border: 2px solid $darkGrey;
	// &:after {
	// 	content: "";
	// 	display: inline;
	// 	width: 100%;
	// 	height: 100%;
	// 	border: 2px solid $darkGrey;
	// 	position: absolute;
	// 	top: 1.4rem;
	// 	right: 1.4rem;
	// }
}
	
.serviceModalClose {
	float: right;
	width: 1.8rem;
	position: absolute;
	right: 1.6rem;
	top: 1.6rem;
	z-index: 1;
	img:hover {
		cursor: pointer;

	}
}

	div.serviceModalIcon {
		width: 4rem;
		padding-top: 4rem;
	}
	h4.serviceModalTitle {
		font-family: $headlineFont;
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
	p.serviceModalText {
		font-family: $bodyFont;
		font-size: 1.2rem;
		padding-right: 1rem;
		margin: 0;
	}
	


.portfolioPiece {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	text-align: right;
	margin-bottom: 8rem;
	&:nth-of-type(even) {
		flex-direction: row-reverse;
		text-align: left;
		img.portfolioImage {
			left: 0;
		}
	}
	&:nth-of-type(odd) {
		img.portfolioImage {
			right: 0;
		}
		div.pieceViewLiveButton {
			float: right;			
		}
	}
}

.portfolioPieceText {
	width: 40%;
	font-family: $bodyFont;
	h4.pieceType {
		font-family: $headlineFont;
		font-size: 2rem;
		margin-top: 0.6rem;
	}
	div.pieceTitle {
		font-size: 1.8rem;
		margin-top: 1rem;
		padding: 0;
	}
	p.pieceBuiltWith,
	div.pieceDescription {
		font-size: 1.4rem;
	}
	div.pieceViewLiveButton p {
		font-size: 1.6rem;
		text-decoration: none;
		background-color: $lightPink;
		padding: 0.6rem;
		text-align: center;
		width: 16rem;
		margin: 0;
		a {
			color: white;
		}
	}
}

.portfolioImageBox {
	position: relative;
	width: 60%;
}
.portfolioImage {
	position: absolute;
	width: 90%;
	top: 0;
}
.portfolioImageScreen {
	width: 90%;
	position: relative;
	z-index: 1;
}


div.workflow {
	div.workflowSection {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;	
		div.workflowSectionText {
			width: 34%;
			margin: 2rem 0;
			div.workflowIconBox {
				width: 3rem;
			}
			p.workflowTitle {
				font-family: $headlineFont;
				font-size: 1.8rem;
			}
			p.workflowDescription {
				font-family: $bodyFont;
				font-size: 1.4rem;
			}
		}
		div.workflowSectionImage {
			display: block;
			padding: 2rem 6rem;
		}
	}		
	div.connectorLine {
		width: 28rem;
		margin: 0 auto;
	}
	&:nth-of-type(odd) {
		div.workflowSection {
			div.workflowSectionText {
				text-align: right;
				div.workflowIconBox {
					display: block;
					float: right;
					&::after {
					  display: block;
					  content: "";
					  clear: both;
					}
				}
				p.workflowTitle {
					&::before {
					  display: block;
					  content: "";
					  clear: both;
					}
				}
			}
			&:after {
				content: "";
				display: block;
			}
		}
	}
	&:nth-of-type(even) {
		div.connectorLine {
			transform: rotateY(180deg);
		}
		div.workflowSection {
		flex-direction: row-reverse;
		}
	}
	&:last-of-type {
		div.connectorLine {
			display: none;
		}
	}
}






