div.headerBox {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	position: relative;
	top: -5.4rem;
	img {
		z-index: -400;
		transform: rotateY(180deg);
	}
}

div.aboutBox {
	background-color: white;
	width: 36%;
	height: 24rem;
	position: absolute;
	top: 36rem;
	left: -3rem;
}

div.aboutBox:before {
	content: "";
	display: block;
	width: 100%;
	height: 24rem;
	border: 3px solid $darkGrey;
	position: absolute;
	left: -1.6rem;
	top: -1.6rem;
}

div.aboutContentBox {
	padding: 2rem;
}

div.serviceIconBox {
	width: 8rem;
	&:after {
		content: "";
		display: block;
		width: 8rem;
		height: 8rem;
		color: red;
		border-radius: 50%;
		position: relative;
		right: 1rem;
	}
}

