div.headerBox {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	position: relative;
	top: -8rem;
	img {
		z-index: -400;
	}
}

div#about {
	display: block;
}

div.aboutBox {
	background-color: white;
	width: 36rem;
	position: absolute;
	top: 56rem;
	left: -3rem;
}

div.aboutBox:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 3px solid $darkGrey;
	position: absolute;
	left: 1.6rem;
	top: -2rem;
}

div.aboutContentBox {
	padding: 3rem 3rem 3rem 6rem;
	h3.myName {
		font-family: $headlineFont;
		font-size: 2.4rem;
		padding: 0;
		margin-bottom: 2rem;
	}
	p {
		font-family: $bodyFont;
		font-size: 1.6rem;
	}
}


.serviceSectionTitle {
	margin-bottom: 6rem;
	font-family: $headlineFont;
	font-size: 2.4rem;
}

div.allServicesBox {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	position: relative;
}

div.serviceListBox {
	width: 20%;
	max-width: 12rem;
}
div.individualService {
	h4.serviceTitle {
		text-align: center;
		font-family: $bodyFont;
		font-size: 1.4rem;
	}

}

div.serviceIconBox {
	margin: 0 auto;
	width: 100%;
	position: relative;
	&:before {
		content:" ";
		display: inline-block;
		width: 100%;
		height: 100%;
		background: linear-gradient($lightPink, $cream) ;
		border-radius: 50%;
		position: absolute;
		left: 0.6rem;
		z-index: -100;
	}
}


div.servicesModal {
	width: 16rem;
	height: 18rem;
	position: absolute;
	top: 0;
	padding: 1rem;
	background-color: white;
	clear: both;
	display: none;
	 &:after {
		  display: block;
		  content: "";
	}
	div.serviceModalClose {
		float: right;
		width: 1.4rem;
		padding: 0.2rem;
		}

	div.serviceModalIcon {
		width: 3rem;
	}
	h4.serviceModalTitle {
		font-family: $headlineFont;
	}
	p.serviceModalText {
		font-family: $bodyFont;
	}
	&:after {
		content: "";
		display: block;
		width: 16rem;
		height: 18rem;
		border: 3px solid $darkGrey;
		position: absolute;
		top: 0.6rem;
		right: 0.6rem;
	}
}


div.portfolioPiece {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	text-align: right;
	margin-bottom: 8rem;
	&:nth-of-type(even) {
		flex-direction: row-reverse;
		text-align: left;
		img.portfolioImage {
			left: 0;
		}
	}
	&:nth-of-type(odd) {
		img.portfolioImage {
			right: 0;
		}
		div.pieceViewLiveButton {
			float: right;			
		}
	}
}

div.portfolioPieceText {
	width: 40%;
	font-family: $bodyFont;
	h4.pieceType {
		font-family: $headlineFont;
		font-size: 2rem;
		margin-top: 0.6rem;
	}
	div.pieceTitle {
		font-size: 1.8rem;
		margin-top: 1rem;
		padding: 0;
	}
	p.pieceBuiltWith,
	div.pieceDescription {
		font-size: 1.4rem;
	}
	div.pieceViewLiveButton p {
		font-size: 1.6rem;
		text-decoration: none;
		background-color: $lightPink;
		padding: 0.6rem;
		text-align: center;
		width: 10rem;
		margin: 0;
		a {
			color: white;
		}
	}
}

div.portfolioImageBox {
	position: relative;
	width: 60%;
}
	img.portfolioImage {
		position: absolute;
		width: 90%;
		top: 0;
		z-index: -1;
	}
	.portfolioImageScreen {
		width: 90%;
	}


div.workflow {
	div.workflowSection {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;	
		div.workflowSectionText {
			width: 34%;
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			div.workflowIconBox {
				width: 3rem;
			}
			p.workflowTitle {
				font-family: $headlineFont;
				font-size: 1.8rem;
			}
			p.workflowDescription {
				font-family: $bodyFont;
				font-size: 1.4rem;
			}
		}
		div.workflowSectionImage {
			display: block;
			padding: 2rem 6rem;
		}
	}		
	div.connectorLine {
		width: 28rem;
		margin: 0 auto;
	}
	&:nth-of-type(odd) {
		div.workflowSection {
			div.workflowSectionText {
				text-align: right;
				div.workflowIconBox {
					display: block;
					float: right;
					&::after {
					  display: block;
					  content: "";
					  clear: both;
					}
				}
				p.workflowTitle {
					&::before {
					  display: block;
					  content: "";
					  clear: both;
					}
				}
			}
			&:after {
				content: "";
				display: block;
			}
		}
	}
	&:nth-of-type(even) {
		div.connectorLine {
			transform: rotateY(180deg);
		}
		div.workflowSection {
		flex-direction: row-reverse;
		}
	}
	&:last-of-type {
		div.connectorLine {
			display: none;
		}
	}
}






