div.headerContainer {
	width: 90%;
	margin: 0 auto;
	margin-top: 6rem;
	z-index: 1000;
}

div.logoBox {
	width: 11rem;
	position: relative;
	bottom: -5rem;
	left: 3.2rem;
}

div.navRuler {
	width: 90%;
	height: 2.4rem;
	background-color: white;
	margin-top: 0.6rem;
}