div.headerContainer {
	width: 90%;
	margin: 0 auto;
	margin-top: 10rem;
	z-index: 1000;
}

div.logoBox {
	width: 15%;
	position: relative;
	bottom: -7.5rem;
	left: 4%;
}

div.navRuler {
	width: 90%;
	height: 5rem;
	background-color: white;
	margin-top: 1rem;
}