@media (max-width:770px) {
	div.container {
		top: -9.4rem;
		div.content {
			h3.sectionTitle {
				margin-bottom: 6rem;
			}
		}
	}
	div.headerContainer {
		margin-top: 10rem;
	}
	div.logoNavBox {
		div.logoBox {
			width: 12rem;
			left: 2rem;
			bottom: -5.6rem;
		}
		nav ul.menu {
			padding: 0.8rem 1.6rem;
		}
		div.navRuler {
			width: 100%;
			height: 4rem;
		}
	}

	div.headerBox {
		top:-5rem;
		}
	div.aboutBox {
		width: 30rem;
		top: 32rem;
		div.aboutContentBox {
			padding: 2rem 2.6rem 4rem 4rem;
			h3.myName {
				margin-top: 5rem;
			}
		}
	}


	div.serviceIconBox {
		width: 10rem;
	}

	div.portfolioPiece {
		flex-direction: column-reverse;
		margin-bottom: 6rem;
		&:nth-of-type(even) {
			flex-direction: column-reverse;
		}
		&:nth-of-type(odd) {
			align-items: flex-end;
			div.portfolioImageBox {
				float: right;
			}
			div.portfolioPieceText {
				// text-align: left;
				div.pieceViewLiveButton {
					margin-top: 2rem;
					float: right;
				}
			}
		}
		div.portfolioImageBox {
			width: 70%;
			margin-bottom: 2rem;
		}
		div.portfolioPieceText {
			width: 100%;
		}

	}

	div.workflow {
		div.workflowSection {
			div.workflowSectionText {
				width: 28%;
			}
			div.workflowSectionImage {
				padding: 3rem;
			}
		}
			div.connectorLine {
				width: 23rem;
				margin-bottom: 1rem;
			}
	}

	footer {
		.container {
			width: 90%;
			div.content {
				div.contactSectionInformation {
					flex-direction: column;
					p.contactBlurb {
							width: 100%;
							margin-bottom: 2rem;
						}
					div.contactInformationBox {
						margin-left: 0;
					}
				}
			}
		}
	}
}

@media (max-width:480px) {

	// hamburger
	div#menu-toggle {
	display: inline-block;
	span {
	  display:block;
		background-color: $darkGrey;
	}
	}
	#menu-toggle {
	  width:48px;
	  height:44px;
	  position:fixed;
	  right: 2rem;
	  top: 0;
	  cursor:pointer;
	  // border: 2px solid $darkGrey;
	  background-color: white;
	  }
		    padding: 0 2px;
	  #hamburger {
	    position:absolute;
	    height:100%;
	    width:100%;
		    margin: 0 auto;
	    span {
	     	width:26px;
		    height:2px;
		    position:relative;
		    top:50%;
		    left:50%;
		    margin:8px 0;
		    transform: translate(-50%, -50%);
	      	&:nth-child(1){
		        transition-delay:.5s;
	      	}
	      	&:nth-child(2){
		        transition-delay:.625s;
	      	}
	      	&:nth-child(3){
		        transition-delay:.75s;
	      	}
	    }
	  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width:4px;
        position:absolute;
        top:10%;
        left:48px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:4px;
        position:absolute;
        left:10%;
        top:48px;
        transition-delay:.25s;
      }
    }
  }
#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }    
  }
}
	// hamburger end


	ul.menu {
		// visibility: hidden;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		// background-color: rgba(255,255,255,0.7);
		border: none;
		border-bottom: 3px solid $darkGrey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			a {
				padding: 0;
			}
		}
	}
	header {
		div.headerContainer {
			div.logoBox {
				top: -4rem;
				left: 0;
				margin: 0 auto;
			}
			div.navRuler {
				visibility: hidden;
				position: absolute;
				height: 8rem;
				top: 0;
				left: 0;
				z-index: -10;
				margin-top: 0;
			}
		}
	}

div.aboutBox {
	position: relative;
	top: 0;
	left: -5rem;
	width: 41rem;
	margin-bottom: 8rem;
	background-color: rgba(255,255,255,0);
	border: 3px solid $darkGrey;
	&:before {
		display: none;
	}
	div.aboutContentBox {
		padding: 3rem 5rem;
	}
}

div.allServicesBox {
	flex-flow: row wrap;
	padding: 0 2rem;
}


	div.workflow {
		div.workflowSection {
			div.workflowSectionText {
				width: 50%;
			}
			div.workflowSectionImage {
				padding: 0;
				padding-left: 2rem;
			}
		}
		div.connectorLine {
			width: 30rem;
		}
		&:nth-of-type(even) {
			div.workflowSection {
				div.workflowSectionText {
					text-align: right;
					&:after {
						content:"";
						display: block;
						clear: both;
					}
					div.workflowIconBox {
						float: right;
					}
					div.workflowTitle {
						&:before {
							content:"";
							display: block;
							clear: both;
						}
					}
				}
				div.workflowSectionImage {
					padding-left: 0;
					padding-right: 2rem;
				}
			}
		}
		&:nth-of-type(odd) {
			div.workflowSection {
				div.workflowSectionText {
					text-align: left;
						&:after {
							content:"";
							display: block;
							clear: both;
						}
					div.workflowIconBox {
						float: left;
					}
					div.workflowTitle {
						&:before {
							content:"";
							display: block;
							clear: both;
						}
					}
				}
				div.workflowSectionImage {
					padding-right: 0;
					padding-left: 2rem;
				}
			}
		}
	}

	footer {
		div.section {
			margin-bottom: 0rem;
		}
		div.content {
			position: relative;
			top: -10rem;
			h3.sectionTitle {
				margin-top: 4rem;
			}
		}
		div.contactSectionInformation {
			width: 100%;
			padding: 4rem 3rem;
			margin-bottom: 0;
			&:after {
				left: -2rem;
				height: 90%;
				width: 110%;
			}
		}
	}
	div.footerContent {
		flex-direction: column-reverse;
		justify-content: center;
		p {
			text-align:center;
		}
		div.socialNavBox {
			margin: 0 auto;
			ul.socialNav {
				padding: 0;
			}
		}
	}
}


@media (max-width:320px) {
	div.main {
		div.container {
			width: 86%;
			div.content {
				width: 90%;
				h3.sectionTitle,
				h3.serviceSectionTitle {
					text-align: center;
				}
			}
		}
	}
	footer {
		div#contact {
			div.content {
					text-align: center;
			}
		}
	}

	div.aboutBox {
		left: -2.5rem;
		width: 120%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	h3.serviceSectionTitle {
		margin-top: 8rem;
		margin-bottom: 4rem;
	}
	div.allServicesBox {
		flex-flow: column;
	}


	div.portfolioPiece:nth-of-type(odd),
	div.portfolioPiece:nth-of-type(even) {
		text-align: center;
		div.portfolioPieceText {
			div.pieceViewLiveButton {
				margin: 0 auto;
				text-align: center;
				float: none;
				display: inline-block;
			}
		}
		div.portfolioImageBox {
			width: 95%;
			margin: 0 auto;
		}
	}

	div#workflow {
		div.workflow {
			&:after {
				margin-top: 2rem;
				content: "";
				background-color: $darkGrey;
				width: 3px;
				height: 6rem;
			}
			div.workflowSection {
				div.workflowSectionText {
					width: 100%;
					text-align: center;
					margin: 0 auto;
				}
				div.workflowSectionImage {
					padding: 1rem;
					width: 8rem;
				}
			}
			div.connectorLine {
				display: none;
			}
		}
		div.workflow:nth-of-type(even),
		div.workflow:nth-of-type(odd) {
			div.workflowSection {
				flex-direction: column-reverse;
				margin: 1rem 0;
				div.workflowSectionImage {
					padding: 0;
				}
				div.workflowSectionText {
					text-align: center;
					margin-bottom: 3rem;
					&:after {
						content: "";
						display: block;
						height: 2px;
						width: 7rem;
						background-color: $darkGrey;
						margin: 0 auto;
					}
					div.workflowIconBox {
						display: none;
					}
				}
			}
		}
	}

	footer {
		div#contact {
			div.contactSectionInformation {
				padding: 4rem 2rem;
				div.contactIcon {
					display: none;
				}
				p.contactInformationText {
					text-align: left;
				}
			}
		}
	}
}
