@media (max-width: 1120px) {
	.aboutBox {
		top: 54rem;
		width: 38rem;
	}
}

@media (max-width: 1040px) {
	.logoBox {
			bottom: -6.5rem;
	}
}

@media (max-width: 1000px) {
	.logoBox {
			bottom: -5.5rem;
		}
	.aboutBox {
			top: 40rem; 
			left: -6rem;
		}
}

@media (max-width: 850px) {
	.headerBox {
		top: -5rem;
	}

	.logoNavBox {
		margin-top: -3rem;
	}
	.logoBox {
		top: -5rem;
		left: 0;
		margin: 0 auto;
	}

	div.aboutBox {
		position: relative;
		margin: 0 auto;
		top: 0;
		left: 0rem;
		width: 100%;
		margin-bottom: 8rem;
		background-color: rgba(255,255,255,0);
		border: 3px solid $darkGrey;
		&:before {
			display: none;
		}
		div.aboutContentBox {
			padding: 2rem 4rem;
		}
	}

	.portfolioPiece {
		flex-direction: column-reverse;
		margin-bottom: 6rem;
		&:nth-of-type(even) {
			flex-direction: column-reverse;
		}
		&:nth-of-type(odd) {
			align-items: flex-end;
			div.portfolioImageBox {
				float: right;
			}
			div.portfolioPieceText {
				// text-align: left;
				div.pieceViewLiveButton {
					margin-top: 2rem;
					float: right;
				}
			}
		}
		div.portfolioImageBox {
			width: 70%;
			margin-bottom: 2rem;
		}
		div.portfolioPieceText {
			width: 100%;
		}

	}
	.contactSectionInformation {
		flex-direction: column;
	}
	.contactBlurb {
		width: 100%;
		margin-bottom: 2rem;
	}
}

@media (max-width:767px) {
	.container {
		margin-top: 3rem;
	}
	.content {
		margin-top: 4rem;
	}

	h3.sectionTitle {
		margin-bottom: 6rem;
	}

.headerContainer {
	margin-top: -2.5rem;
	top: 9rem;
}

.headerBox img {
	margin-top: -5rem;
}

.logoNavBox {
	margin-top: -3.5rem;
}

.logoBox {
		width: 12rem;
		left: 0;
		top: -4.4rem;
		margin: 0 auto;
}
	// nav {
	// 	margin-top: -3rem;
	// }
 ul.menu {
	padding: 0.8rem 1.6rem;
}
.navRuler {
	width: 100%;
	height: 4rem;
}

.headerBox {
top:-5rem;
}

.aboutBox {
	div.aboutContentBox {
		padding: 2rem 2.6rem 4rem 4rem;
		h3.myName {
			margin-top: 5rem;
		}
	}
}

.servicesModal {
	top: 0;
	width: 236%;
	left: -7rem;
}



div.workflow {
	div.workflowSection {
		div.workflowSectionText {
			width: 28%;
		}
		div.workflowSectionImage {
			padding: 3rem;
		}
	}
		div.connectorLine {
			width: 23rem;
			margin-bottom: 1rem;
		}
}

footer {
	.container {
		width: 90%;
		div.content {
			div.contactSectionInformation {
				flex-direction: column;
				p.contactBlurb {
						width: 100%;
						margin-bottom: 2rem;
					}
				div.contactInformationBox {
					margin-left: 0;
				}
			}
		}
	}
}
}

@media (max-width:700px) {
	div.container {
		margin-top: 10rem;
	}
	.logoBox {
		top: 0;
	}
	ul.menu {
		// visibility: hidden;
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		background-color: rgba(255,255,255,0.85);
		border: none;
		border-bottom: 3px solid $darkGrey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			a {
				padding: 0;
			}
		}
	}
	div.navRuler {
		display: none;
	}
	div.allServicesBox {
		justify-content: space-around;
	}
	div.serviceListBox {
		width: 50%;
		max-width: 15rem;
		margin-bottom: 3rem;
	}
}
@media (max-width: 667px) {
	div.allServicesBox {
		flex-flow: row wrap;
	}
	.sectionTitle,
	.serviceSectionTitle {
		font-family: $headlineFont;
		font-size: 2.4rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.serviceSectionTitle {
		margin-bottom: 6rem;
	}
	div.workflow {
		&:after {
			margin-top: 2rem;
			content: "";
			background-color: $darkGrey;
			width: 3px;
			height: 6rem;
		}
		div.workflowSection {
			div.workflowSectionText {
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
			div.workflowSectionImage {
				padding: 0rem;
				width: 37%;
				margin: 0 auto;
			}
		}
		div.connectorLine {
			display: none;
		}
	}
	div.workflow:nth-of-type(even),
	div.workflow:nth-of-type(odd) {
		div.workflowSection {
			flex-direction: column-reverse;
			margin: 1rem 0;
			div.workflowSectionImage {
				padding: 0;
			}
			div.workflowSectionText {
				text-align: center;
				margin-bottom: 3rem;
				&:after {
					content: "";
					display: block;
					height: 2px;
					width: 7rem;
					background-color: $darkGrey;
					margin: 0 auto;
				}
				div.workflowIconBox {
					display: none;
				}
			}
		}
	}
	div.portfolioPiece:nth-of-type(odd),
	div.portfolioPiece:nth-of-type(even) {
		text-align: center;
		div.portfolioPieceText {
			margin-top: 2rem;
			div.pieceViewLiveButton {
				margin: 0 auto;
				text-align: center;
				float: none;
				display: inline-block;
			}
		}
		div.portfolioImageBox {
			width: 100%;
			margin: 0 auto;
			
		}
	}
	.portfolioImageScreen  {
		width: 100%;
	}
	div.portfolioPiece {
		&:nth-of-type(even) {
			img.portfolioImage {
				width: 100%;
				left: 0;
			}
		}
		&:nth-of-type(odd) {
			img.portfolioImage {
				width: 100%;
				left: 0;
			}
		}
	}

}

@media (max-width:575px) {
	div.serviceListBox {
		max-width: 13rem;
	}
}

@media (max-width:480px) {
	div.menuContainer {
		z-index: 100;
	}
	header {
		div.headerContainer {
			div.logoBox {

				left: 0;
				margin: 0 auto;
			}
			div.navRuler {
				visibility: hidden;
				position: absolute;
				height: 8rem;
				top: 0;
				left: 0;
				z-index: -10;
				margin-top: 0;
			}
		}
	}

	div.allServicesBox {
		flex-flow: column nowrap;
		align-items:center;
	}
	div.serviceListBox {
		max-width: 18rem;
	}
	

	footer {
		div.section {
			margin-bottom: 0rem;
		}
		div.content {
			position: relative;
			top: -10rem;
			h3.sectionTitle {
				margin-top: 4rem;
			}
		}
		div.contactSectionInformation {
			width: 100%;
			padding: 4rem 3rem;
			margin-bottom: 0;
			&:after {
				left: -2rem;
				height: 90%;
				width: 110%;
			}
		}
	}
	div.footerContent {
		flex-direction: column-reverse;
		justify-content: center;
		p {
			text-align:center;
		}
		div.socialNavBox {
			margin: 0 auto;
			ul.socialNav {
				padding: 0;
			}
		}
	}
}

@media (max-width:410px) {

	ul.menu {
		display: none;
	}
	ul.visibleNav {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top: 5rem;
		z-index: 10;
	}
	.menuContainer {
		position: fixed;
		width: 100%;
		top: 0;
		padding: 0.4rem;
	  	background-color: white;
	}
	div#menu-toggle {
	display: inline-block;
		span {
		  	display:block;
			background-color: $darkGrey;
			}
	}
	#menu-toggle {
	  width:100%;
	  position:relative;
	  cursor:pointer;

	  }
		    padding: 0 2px;
	  #hamburger {
	    height:100%;
	    width:100%;
		margin: 0 auto;
	    span {
	     	width:26px;
		    height:2px;
		    position:relative;
		    top:50%;
		    left:50%;
		    margin:8px 0;
		    transform: translate(-50%, -50%);
	      	&:nth-child(1){
		        transition-delay:.5s;
	      	}
	      	&:nth-child(2){
		        transition-delay:.625s;
	      	}
	      	&:nth-child(3){
		        transition-delay:.75s;
	      	}
	    }
	  }
	div.aboutBox {
		width: 140%;
		margin-top: 10rem;
		left: -5rem;
	}
}

@media (max-width:320px) {
	div.main {
		div.container {
			width: 86%;
			div.content {
				width: 90%;
				h3.sectionTitle,
				h3.serviceSectionTitle {
					text-align: center;
				}
			}
		}
	}
	footer {
		div#contact {
			div.content {
					text-align: center;
			}
		}
	}

	div.aboutBox {
		left: -2.5rem;
		width: 120%;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	h3.serviceSectionTitle {
		margin-top: 8rem;
		margin-bottom: 4rem;
	}
	div.allServicesBox {
		flex-flow: column;
	}


	div.portfolioPiece:nth-of-type(odd),
	div.portfolioPiece:nth-of-type(even) {
		text-align: center;
		div.portfolioPieceText {
			div.pieceViewLiveButton {
				margin: 0 auto;
				text-align: center;
				float: none;
				display: inline-block;
			}
		}
		div.portfolioImageBox {
			width: 95%;
			margin: 0 auto;
		}
	}

	div#workflow {
		div.workflow {
			&:after {
				margin-top: 2rem;
				content: "";
				background-color: $darkGrey;
				width: 3px;
				height: 6rem;
			}
			div.workflowSection {
				div.workflowSectionText {
					width: 100%;
					text-align: center;
					margin: 0 auto;
				}
				div.workflowSectionImage {
					padding: 1rem;
					width: 8rem;
				}
			}
			div.connectorLine {
				display: none;
			}
		}
		div.workflow:nth-of-type(even),
		div.workflow:nth-of-type(odd) {
			div.workflowSection {
				flex-direction: column-reverse;
				margin: 1rem 0;
				div.workflowSectionImage {
					padding: 0;
				}
				div.workflowSectionText {
					text-align: center;
					margin-bottom: 3rem;
					&:after {
						content: "";
						display: block;
						height: 2px;
						width: 7rem;
						background-color: $darkGrey;
						margin: 0 auto;
					}
					div.workflowIconBox {
						display: none;
					}
				}
			}
		}
	}

	footer {
			div.contactSectionInformation {
				padding: 4rem 2rem;
				&:after {
					left: -1.5rem;
				}
				p.contactInformationText {
					text-align: left;
				}
			}
	}
}
