ul.menu {
	margin: 0;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 4.6rem;
	padding-right: 1rem;
	border: 3px solid $darkGrey;
	float: right;
	li {
		display: inline;
		a {
			padding: 0 1rem;
			color: $darkGrey;
			text-transform: lowercase;
		}
	}
}